<main>
    <br>
    <div class="container row">
     <div class="col-sm-8 col-md-8 col-lg-8">
            <h3>Welcome to Kkphotography API ..</h3>
             <strong>http://kkphoto.herokuapp.com/</strong>
        <P><small style="color: #808080;">The best crud api i have ever built before ,, enjoy all crud operation with bmc api</small></P>
        
        <div style="width: 100%;height: auto;">
            <div style="width: 100%;height: 9vh;background-color: rgb(27, 75, 45);padding: 10px 20px;">
               <strong style="color: white;font-family: Verdana, Geneva, Tahoma, sans-serif;">API OVERVIEW  | POST</strong><font style="color: white;margin-left: 20px;">This are the list of our endpoints</font>
            </div>
            <div style="width: 100%; border: 1px solid rgb(27, 75, 45);height: 70vh;">
                
                <div style="width: 96%;justify-content: space-between; display: flex; margin-top: 20px;align-items: center;padding-left: 10px; margin-left: 10px;margin-right: 10px; height: 8vh;background-color: white;box-shadow: 2px 3px 5px rgb(131, 120, 120);">
                    <div style="display: flex;align-items: center;">
                        <button class="btn btn-success btn-sm" style="width: 70px !important;height: 30px !important;">GET</button>  <font style="color: #808080;margin-left: 10px;">http://kkphoto.herokuapp.com/post</font> 
                         
                    </div>
                    <font style="margin-right: 10px;background-color:rgb(27, 75, 45);padding: 6px 10px;border-radius: 10px;color: white;">post</font>
                </div>


                  <div style="width: 96%;justify-content: space-between; display: flex; margin-top: 20px;align-items: center;padding-left: 10px; margin-left: 10px;margin-right: 10px; height: 8vh;background-color: white;box-shadow: 2px 3px 5px rgb(131, 120, 120);">
                    <div style="display: flex;align-items: center;">
                        <button class="btn btn-success btn-sm" style="width: 70px !important;height: 30px !important;">GET</button>  <font style="color: #808080;margin-left: 10px;">http://kkphoto.herokuapp.com/post/1</font> 
                         
                    </div>
                    <font style="margin-right: 10px;background-color: rgb(27, 75, 45);padding: 6px 10px;border-radius: 10px;color: white;">post/1/</font>
                </div>

                

                  <div style="width: 96%;justify-content: space-between; display: flex; margin-top: 20px;align-items: center;padding-left: 10px; margin-left: 10px;margin-right: 10px; height: 8vh;background-color: white;box-shadow: 2px 3px 5px rgb(131, 120, 120);">
                    <div style="display: flex;align-items: center;">
                        <button class="btn btn-info btn-sm" style="width: 70px !important;height: 30px !important;">POST</button>  <font style="color: #808080;margin-left: 10px;">http://kkphoto.herokuapp.com/post</font> 
                         
                    </div>
                    <font style="margin-right: 10px;background-color: rgb(27, 75, 45);padding: 6px 10px;border-radius: 10px;color: white;">post</font>
                </div>

                  <div style="width: 96%;justify-content: space-between; display: flex; margin-top: 20px;align-items: center;padding-left: 10px; margin-left: 10px;margin-right: 10px; height: 8vh;background-color: white;box-shadow: 2px 3px 5px rgb(131, 120, 120);">
                    <div style="display: flex;align-items: center;">
                        <button class="btn btn-warning btn-sm" style="width: 70px !important;height: 30px !important;">PATCH</button>  <font style="color: #808080;margin-left: 10px;">http://kkphoto.herokuapp.com/post/1</font> 
                         
                    </div>
                    <font style="margin-right: 10px;background-color: rgb(27, 75, 45);padding: 6px 10px;border-radius: 10px;color: white;">post/1</font>
                </div>


                  <div style="width: 96%;justify-content: space-between; display: flex; margin-top: 20px;align-items: center;padding-left: 10px; margin-left: 10px;margin-right: 10px; height: 8vh;background-color: white;box-shadow: 2px 3px 5px rgb(131, 120, 120);">
                    <div style="display: flex;align-items: center;">
                        <button class="btn btn-danger btn-sm" style="width: 70px !important;height: 30px !important;">DELETE</button> | <font style="color: #808080;margin-left: 10px;">http://kkphoto.herokuapp.com/post/1</font> 
                         
                    </div>
                    <font style="margin-right: 10px;background-color: rgb(27, 75, 45);padding: 6px 10px;border-radius: 10px;color: white;">post/1</font>
                </div>
            </div>
        </div>

        <br>


      </div>
     
     <div class="col-sm-4 col-md-4 col-lg-4">
         <div class="container">
             <br>
            <strong>Post Object</strong>
            <font style="color: gray;">http://kkphoto.herokuapp.com/post </font>
            <br>
            <br>
            <div>
                <p>
[ <br>
 <font style="color: white;"> ..</font> {<br>
  <font style="color: white;">... ..</font>   "_id": "61c4c1b2182d3ceb1fc7eba4",<br>
 <font style="color: white;">... ..</font>   "category": "events",<br>
  <font style="color: white;">... ..</font>  "image": "http://imageurl.png",<br>
  <font style="color: white;">... ..</font>  "description": "short description",<br>
  <font style="color: white;">... ..</font>  "__v": 0<br>
  },<br>



]
                </p>
            </div>
         </div>
     </div>
    </div>
</main>

<br><br>